@import url('https://fonts.googleapis.com/css?family=Raleway|Srisakdi');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  margin: 0;
  padding: 20px 30px;
  text-align: center;
  font-size: 4em;
  background-color: #001427;
  font-family: 'Srisakdi', cursive;
  color: #BF0603;
}

h3 {
  padding: 0;
  margin-top: 0;
  font-weight: bolder;
}

#content {
  font-size: 1.5em;
  text-align: center;
  height: 95%;
  background-color: #f0f0f0;
  overflow: scroll;
  overflow-x: hidden;
}

#actionSection {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  width: 400px;
  height: 100%;
  float: left;
  color: #444;
  font-family: 'Raleway', sans-serif;
}

#addSection {
  padding: 40px 40px 50px 20px;
}

#nameField,
#ageField,
#speciesField,
#classField,
#notesField {
  width: 100%;
  font-size: 14pt;
  padding: 2px 3px;
  margin: 8px 0;
}

form {
  padding: 10px;
}

.card {
  width: 65%;
  height: 55%;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  margin-top: 11%;
  display: flex;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

.card:last-child {
  margin-bottom: 150pt;
}

.front,
.back {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 5px;

}

.cardContents {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 150pt;
}

label {
  font-weight: bolder;
}

p {
  word-wrap: break-word;
}

hr {
  width: 70%;
  background-color: transparent;
  border-top: 2px dashed #8c8b8b;
}

#status {
  display: none;
  margin: 5px;
  float: left;
  text-align: center;
  font-size: 12pt;
  border: none;
  background-color: transparent;
  color: #444;
  font-family: 'Raleway', sans-serif;
}

#submitButton {
  width: 100pt;
  height: 2.4em;
  border-radius: 3pt;
  font-family: 'Raleway', sans-serif;
  border: 0;
  color: white;
  background-color: #708D81;
  float: right;
  margin-right: -8px;
}

select {
  height: 2em;
}
